:root {

    /* Neutral */
    --neutral-lightest: #E0E0E0;
    --neutral-light: #C0C0B8;
    --neutral: #A8A8A0;

    /* Sage */
    --sage-light: #9FA090;
    --sage: #8F9080;

    /* Moss */
    --moss-light: #575848;
    --moss-dark: #303028;

    /* Clay */
    --clay-light: #A8685F;
    --clay: #886058;

    /* Khaki */
    --khaki-light: #888069;
    --khaki: #787161;

    /* Deep */
    --deep: #201718;

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding: 25px;
    background-color: #807070;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
}