.daily {
    margin-bottom: 96px;
}

.daily .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 24px;
}

.daily__title {
    
}

.daily__date {}

.daily__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.daily__item {}