.vision {
}

.vision .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(232, 225, 209, 0.12);
    border: 1px solid rgba(232, 232, 224, .2);
    border-radius: 25px;
    padding: 15px 25px;

}

.vision__title {
    margin-bottom: 15px;
    font-size: 27px;
    opacity: 0.7;
    letter-spacing: 0.04em;
    color: #E0B8B8;

}

.vision__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.vision__item {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #E8E8E0;
}