.vision .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vision__title {
    padding-top: 24px;
    margin-bottom: 18px;
}

.vision__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    gap: 14px;
}

.vision__item {}